/* Make sidebar a flex column */
.wy-nav-side {
  display: flex;
  flex-direction: column;
}

/* Let scroll area take available space */
.wy-side-scroll {
  flex: 1;
  overflow-y: auto;
}

/* Release tag sits at bottom naturally */
.sidebar-release {
  background-color: #222020;
  color: #e1e1e1;

  font-size: 15px;
  padding: 15px 0;
  text-align: center;

}

.sidebar-release span {
  color: #00c853;
  font-weight: 600;
}